@font-face {
    font-family: "Roboto";
    src: url("../fonts/content/Roboto-Regular_0.ttf") format("opentype");
}
body {font-family:"Roboto";background:#2a3137;color:#8f9295;}
#body_top{height:10%;}
#body_bottom{height:10%;}
#body_template{height:80%; margin:51px 0 51px;}
.row{margin:0}
.row-fluid > img{margin: 0 4%;width: 90%;}
img {width:100%;}

body {

    /* Default Background */
    -webkit-backface-visibility: hidden;

    /* Avoid users from Highlighting text */
    -webkit-user-select: none;
    -webkit-touch-callout: none;

    /* Allow Text Selection For Input */
    -webkit-user-select: text;

    /* Better Looking Text */
    text-rendering: optimizeLegibility;

    /* Removing Gray Highlight When Tapping Links */
    -webkit-tap-highlight-color: transparent;

    /* Overflow scrolling more smooth */
    -webkit-overflow-scrolling: touch;
}

clear {clear:both; width:0; height:0; line-height:0; overflow:hidden;}

input {box-shadow:none !important; color:#4c5156 !important; background:#8f9295 !important; border:0 !important; border-radius:0 !important; }
input:focus {background:#bcbec0 !important;}
.input-group-addon {background:#3d4751; border:0; border-radius:0;}
button.btn {text-shadow:none;font-size:1em;border:0; border-radius:0; width:100%; background:#363c42; color:#fff; text-transform:uppercase; padding:10px 12px;}
.glyphicon {color:#bcbec0;}

.front img {
    margin: 10% 0 0% 12%;
    width: 100%;
}
.list-group{
	border-radius:0px;
}
.list-group-item:first-child{
	border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.list-group-item:last-child{
	border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.back img {
    margin: 10% 0 0% 12%;
    width: 100%;
}

.navbar-inverse{background:#1f262c;}
.album-state {background:#1f262c; display:none;}
.album-state div{color:#ccc; text-align:center; font-size:1.05em; border-bottom:1px solid #1f262c; padding:6px 0;}
.album-state div.selected-album-view{color:#fff;}
.padded .secondary-sml {
    float: right;
}

/************* MODAL WINDOW	****************/
#myModal .btn-group {
    margin-bottom: 10px;
}
.model-message {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    border: 2px solid #0a0a0a;
    font-size: 12px;
    text-align: center;
    padding:10px;
}
.modal-backdrop {background:#2a3137;}
.modal-backdrop.in {opacity:0.8; MozOpacity:0.8; KhtmlOpacity:0.8; filter: alpha(opacity = 80);}
.modal-content {background:none;box-shadow:none;border:none}

.modal-popup-content-holder {display:none;}
.modal-popup-content {/*display:none;*/ margin-top:30%; color:#ccc; font-size:1.3em;}
.modal-popup-content button {background:#363c42;}
.modal-popup-content .btn-group {display:block;}

.caps {text-transform:uppercase;}
.font-red {color:#e8463b;}
.font-orange {color:#f26b28;}
.font-yellow {color:#e9b31f;}
.font-blue {color:#2c95f4;}
.font-green {color:#20e58b;}
.font-purple {color:#8069ad;}
.font-lime {color:#b6d119;}

.footer-options-div.divider-left{color:#fff;}
.footer-options-div.divider-ceter {text-align:center; color:#ccc; font-size:0.7em; padding-top:10px; padding-bottom:10px;}
.footer-options-div.divider-right{}
.divider-both{border-right: 1px solid #000;border-left: 1px solid #333;}

.vcenter {display:inline-block; vertical-align:middle; float:none;}
.vertical-align {display:flex; align-items:center;}

.nav-back {font-size:1.5em; padding:12px 10px 0; display:inline-block;}
.page-title {font-size:1em; color:#fff; display:inline-block; padding-bottom:2px; border-bottom-width:5px; border-bottom-style:solid; border-bottom-color:#000;}

.footer-options-holder {background:#1f262c; font-size:1em;margin:0}
.footer-options-div {padding:15px; color:#1f262c; text-align:center; cursor:pointer;}
.footer-options-div .inactive {color:#3a4046; cursor:default;}

.deck-edit-count {color:#f26b28;}
#deck-card-add, #deck-card-edit {cursor:pointer;}
#save-button {display:none;}

.active-button {background:#f26b28; font-weight:bold; cursor:pointer; padding:15px; text-align:center; color:#fff;}
.btn:hover, .btn:focus{ color: #fff;}
.grid {color:#ccc; font-size:1em; border-bottom:1px solid #1a1f23; cursor:pointer;}
.grid .padded {padding:3% 4%; line-height:130%;}
.grid:hover {background:#1f262c; color:#fff;}
.grid span{padding-right:2%;}
.grid:hover span{color:#2c95f4;}
.grid.notowned {opacity:0.5; MozOpacity:0.5; KhtmlOpacity:0.5; filter: alpha(opacity = 50);}
.grid span.secondary {color:#8f9295;}
.grid span.secondary-sml {font-size:0.7em;}
.grid:hover span.secondary {color:#e8463b;}
.grid.shop:hover span.secondary{color:#e9b31f;}
.grid img {float:left; margin:0 3% 0 0;}
.grid.selectedCard {background:#1f262c; opacity:1.0; MozOpacity:1.0; KhtmlOpacity:1.0; filter: alpha(opacity = 100);}
.grid.leaderboard {padding:0.5em 0;}
.grid .place {text-align:center;}
.grid .star {font-size:2em;}
.grid .username {font-weight:normal;}
.grid .username .secondary{font-weight:bold; color:#20e58b;}
.grid:hover .username .secondary{color:#20e58b;}
.grid .points{vertical-align:bottom; margin-top:2em; font-size:0.8em; font-weight:normal;}
.grid .greenpoints{font-weight:bold; color:#20e58b;}

.shade-10 {background:#4c4766;}
.shade-30 {background:#5e537e;}
.shade-50 {background:#6d5c93;}
.shade-100 {background:#8069ad;}
.credits-header {color:#ccc; padding:8% 0; font-size:1.2em; text-align:center;}
.grid.credits {font-size:1.3em;}
.grid.credits .padded {line-height:90%;}
.credits .color{color:#fff; font-size:1.9em; text-align:center;}
.credits:hover .padded span.secondary-sml{color:#8069ad;}


.div-button {font-size:1em; color:#fff; font-weight:bold; padding:3% 2%; background:#363c42; cursor:pointer;}
.div-button:hover {color:#fff; background:#f26b28;}
.div-button span{color:#9b9d9f; font-weight:normal;}
.div-button:hover span{color:#fff; font-weight:bold;}
.div-button .arrow{font-size:2em;}

#body_template.game {margin:0;}
.hiddenDiv {display:none;}
.game-status {padding:2% 2%; font-size:1.3em; color:#fff; background:#1f262c;}
.game-message {padding-left:15px; font-size:1em; color:#fff; background:#1f262c;}
.game-progress-num {text-align:right; font-size:1.5em;}
.game-card-title {text-align:right; line-height:110%;}
.game-card-make {color:#f26b28;}
.game .ui-progressbar {border-radius:0; border:0; height:0.5em;}
.game .ui-progressbar-value {border-radius:0; border:0;}
.game #progressbar1 {margin-bottom:0.3em;}
.game-progress-filler {width:100%; height:0.6em; margin-top:-0.5em;
                    background: -moz-linear-gradient(left,
                    #1f262c 0%, #1f262c 1%,
                    transparent 1%, transparent 9%, #1f262c 9%, #1f262c 11%,
                    transparent 11%, transparent 19%, #1f262c 19%, #1f262c 21%,
                    transparent 21%, transparent 29%, #1f262c 29%, #1f262c 31%,
                    transparent 31%, transparent 39%, #1f262c 39%, #1f262c 41%,
                    transparent 41%, transparent 49%, #1f262c 49%, #1f262c 51%,
                    transparent 51%, transparent 59%, #1f262c 59%, #1f262c 61%,
                    transparent 61%, transparent 69%, #1f262c 69%, #1f262c 71%,
                    transparent 71%, transparent 79%, #1f262c 79%, #1f262c 81%,
                    transparent 81%, transparent 89%, #1f262c 89%, #1f262c 91%,
                    transparent 91%, transparent 100%
                    );}
#user-points .ui-progressbar {background:#234868;}
#user-points .ui-progressbar-value {background:#2c95f4;}
.ui-progressbar-value {display:block !important;}
#challenger-points {padding:2%; border:2px solid #000; border-left:0; border-right:0;}
#challenger-points .game-header {color:#5b6064;}
#challenger-points .game-progress-num {color:#8f9295;}
#challenger-points .ui-progressbar {background:#5b6064;}
#challenger-points .ui-progressbar-value {background:#fff;}

#game-id-holder {display:none;}
.loader {width:3em; margin-right:1em;}
.card-stats {position:absolute; margin:-60% 0 0 6%; width:76%;}
.highlighted-stat {border:2px solid #f26b28;}
#card-stat1 {margin-top:-60%;}
#card-stat2 {margin-top:-48%;}
#card-stat3 {margin-top:-36%;}
#card-stat4 {margin-top:-24%;}
#card-stat5 {margin-top:-12%;}
.game-instruction {background:#bcbdc0;}
.game-overlay {background:none repeat scroll 0 0 rgba(39, 126, 204, 0.7);}
.game-overlay img{opacity:0.6; MozOpacity:0.6; KhtmlOpacity:0.6; filter: alpha(opacity = 60);}
.overlay-message {margin:18% 0 0 0; position:absolute; font-size: 2.5em; color:#fff; z-index:1; text-align:center; vertical-align:middle; width:100%;}
.game-logo {padding:2em 0;}
.game-instruction-message {font-size:1.3em; font-weight:bold; color:#1f262c; text-align:left;}
.game-sponsor {padding:2em 0; text-align:right;}
.game-footer {color:#63686c; text-align:center; font-weight:bold; font-size:1.5em; border-top:2px solid #000;}
.game-footer-button {text-align:center; border-right:2px solid #63686c; padding:1em 0;}
.game-footer-button.highlight {text-align:center; border-right:0; background:#f26b28; color:#fff;}

.credits-div {
	background: none repeat scroll 0 0 #1f262c;
    color: #ccc;
    font-size: 1em;
    margin: 0;
    width: 100%;
}
.credits-div .credit-stat{padding:15px;}
.credits-div span{color:#f26b28;}
.credits-div .credit-more{padding:15px;}

.new-instruction {font-size:1.4em; color:#ccc; text-align:center;}

.dashboard-CTA .btn {float:left;}

#card-name {color:#fff;}
.scrap-menu {display:none; position:fixed; bottom:49px;z-index: 2;width:100%}
.scrap-menu .btn {background:#8f9295; float:left; color:#1f262c;}
.scrap-menu button.highlighted {background:#f26b28; color:#fff;}
#card-wrench.active {background:#8f9295;}

.card-subtitle {font-size:2em; color:#9b9d9f;}
.card-subtitle-right {
	color: #9b9d9f;
    font-size: 1.3em;
    margin-top: 9px;
    text-align: right;
}
.card-price {font-size:1em; color:#e9b31f; font-weight:bold;}

button.highlighted {background:#f26b28;font-weight:bold}
.logo-wrapper {margin:10% auto; width:70%;}

.login-form {}

.login-form .login-forgot {text-align:right;}
.login-form .login-forgot span a{font-style:italic; text-decoration:none; color:#f26b28;}
.login-form .login-buttons {text-align:center;}

.login-form .login-forgot span a{font-style:italic; text-decoration:none;}
.login-form .login-buttons {text-align:center;}

#circle strong {
    font-size: 4em;
	left: 30%;
	line-height: 40px;
	position: absolute;
	text-align: center;
	top: 31%;
	color: #ccc;
}

#circle strong span {
	font-weight: normal;
	font-size: 0.8em;
}

canvas{
	/*width:100%;*/
}

#usersname {
	text-align: center;
	margin: 5% 0px 0px 0px;
	color: #ccc;
	font-size: 1.5em;
	text-transform: uppercase;
}

.profile-holder {
	bottom: 7%;
	position: absolute;
	width: 100%;
}

.profile_info {
	margin: 5px;
}

.profile_info li {
	font-size: 1em;
	margin: 3px 0px;
	padding: 4px;
	background-color: #313a41;
	border-top: 1px solid #23292e;
	border-bottom: 1px solid #23292e;
}
.profile_info_text {
    margin: 0;
    padding: 5px 5px 5px 0px;
}

.list-profile-item{
	background:none;
	border:none;
	padding:20px;
    border-left:8px solid #000;
}

.list-profile-item:first-child{
	border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.list-profile-item:last-child{
	border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dashboard-progress {text-align:center; padding:10% 0 0;}
input.knob {color:#797d80 !important; margin-top:6% !important;height: 20% !important;
        background: url('../elements/dashboard_cards.png') transparent no-repeat 0% 85% / 100% !important;}
.dashboard-user-dets {color:#fff; text-align:center; margin-top:5%;font-size:16px;}
/*.dashboard-user-dets span{font-size:2em;}*/
.dashboard-user-creds {color:#fff; text-align:center; margin-top:5%;font-size:16px;}

.listing_divider{
	background: none repeat scroll 0 0 #0e0e0e;
    border-bottom: 1px solid #3c3c3c;
    border-top: 1px solid #2a3137;
    height: 3px;
    position: relative;
    width: 100%;
    z-index: 1
}


/*****  Navigation Section Starts *******/
.menu_divider {
   	background: none repeat scroll 0 0 #0a0a0a;
    border-bottom: 1px solid #303030;
    border-top: 1px solid #1f262c;
    float: left;
    height: 3px;
    margin-left: 1px;
    position: relative;
    width: 100%;
    z-index: 1
}
.navbar-header {
    background: none repeat scroll 0 0 #1f262c;
}
.main-menu .text-right {
    padding: 7px;
    text-align: right;
}
.navbar-header .navbar-brand{
	padding:0;
	margin:0;
	float:none;	
}
.navbar-brand { padding: 0; margin-right: 10%; height: 49px; }

.navbar-brand img{
	width:106px;
	margin:0;
	padding:0;
}
.navbar-inverse .navbar-toggle {
    border-color: transparent;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
	background:none;
}
.navbar-inverse .navbar-toggle .icon-bar {background-color: #8f9295;height: 3px;width: 25px;}
.navbar-default{background:none;box-shadow:none;border-color:#2a3137;z-index:1}


/****** new nav styling ************/
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.list-group-item{
	background:none;
	border:none;
	padding:20px;
        border-right:5px solid #000;
}

.red-border {border-color:#e8463b;}
.red-border-right {border-color:#e8463b;}
.red-border-left {border-color:#e8463b;}
.red-border-left span{
	color: #e8463b;
	float: right;
	font-size: 1em;
	font-weight: bold;
}
.orange-border {border-color:#f26b28;}
.orange-border-right {border-color:#f26b28;}
.orange-border-left {border-color:#f26b28;}
.orange-border-left span{
	color: #f26b28;
	float: right;
	font-size: 1em;
	font-weight: bold;
}
.yellow-border {border-color:#e9b31f;}
.yellow-border-right {border-color:#e9b31f;}
.yellow-border-left {border-color:#e9b31f;}
.yellow-border-left span{
	color: #e9b31f;
	float: right;
	font-size: 1em;
	font-weight: bold;
}
.blue-border {border-color:#2c95f4;}
.blue-border-right {border-color:#2c95f4;}
.blue-border-left {border-color:#2c95f4;}
.blue-border-left span{
	color: #2c95f4;
	float: right;
	font-size: 1em;
	font-weight: bold;
}
.green-border {border-color:#20e58b;}
.green-border-right {border-color:#20e58b;}
.green-border-left {border-color:#20e58b;}
.green-border-left span{
	color: #20e58b;
	float: right;
	font-size: 1em;
	font-weight: bold;
}
.purple-border {border-color:#8069ad;}
.purple-border-right {border-color:#8069ad;}
.purple-border-left {border-color:#8069ad;}
.purple-border-left span{
	color: #8069ad;
	float: right;
	font-size: 1em;
	font-weight: bold;
}
.lime-border {border-color:#b6d119;}
.lime-border-right {border-color:#b6d119;}
.lime-border-left {border-color:#b6d119;}
.lime-border-left span{
	color: #b6d119;
	float: right;
	font-size: 1em;
	font-weight: bold;
}

a.nav-expander {
	color: #9b9d9f;
    margin-right: 0;
    padding: 5px 14px;
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    z-index: 12;

  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;

}

a.nav-expander:hover {
  cursor: pointer;
}

a.nav-expander.fixed {
  position: fixed;
}

.nav-expanded a.nav-expander.fixed {
    right: 0em;
}

nav {
  background: #1f262c;
  display: block;
  height: 100%;
  overflow: auto;
  position: fixed;
  right: -100%;
  font-size: 15px;
  top: 0;
  width: 100%;
  z-index: 2000;
  margin-top: 51px;
  
  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;

}
.nav-expanded nav {
  right: 0;
}

body.nav-expanded {
  margin-left: 0em;
  transition: right 0.4s ease-in-out 0s;
  -webkit-transition: right 0.4s ease-in-out 0s;
  -moz-transition: right 0.4s ease-in-out 0s;
  -o-transition: right 0.4s ease-in-out 0s;
}

#nav-close {
	height: 70px;
    padding: 10px 0;
    position: relative;
    right: 0;
}

.main-menu li {
    font-size: 1em;
    margin-left: 5px;
    padding: 6px
}

.main-menu li a {
  color: #eee;
  text-decoration: none;
}

.main-menu li a:hover {
  color: #fff;
  text-decoration: none;
}
.main-menu li a:active {
  color: #fff;
  text-decoration: none;
}

.main-menu li .sub-nav {
  border-bottom: 0px;
  padding: 4px;
}

.main-menu a .caret {
	width: 0;
	height: 0;
	display: inline-block;
	vertical-align: top;
	border-top: 4px solid #4f5963;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
    margin-top: 8px;
}

.main-menu a:hover .caret {
	border-top-color: #4f5963;
}

.main-menu li.open > a > .caret {
	border-top: none;
	border-bottom: 4px solid #4f5963;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.main-menu li.open > a:hover > .caret {
	border-bottom-color: #4f5963;
}

.icon:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  content: '\f105';
}

.main-menu li > a > span.icon {
  float: right;
  margin: 0.1em 1.7em -0.1em 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

}

.main-menu li > a:hover > span.icon {
  float: right;
  margin: 0.1em 0.8em -0.1em 0;
  opacity: 1;
}

.supercars_logo{
	float: left;
    margin-top: 8px;
    width: 150px;
}

.icon-dash, .icon-album, .icon-credits, .icon-leader, .icon-shop, .icon-profile, .icon-game, .icon-deck {
    width: 36px;
    margin-right:10px;
    float: left;
}
.nav-menu-text {
    margin: 0;
    padding: 8px 0 5px;
}

/********  card full image *******
.quickFlipCta {
    margin: 0 5%;
    max-width: 357px;
    width: 90%;
}
*/
/************************** rules section *************************/
#rules-holder{padding:10px 0;}
#rules-holder, #rules-container {
    text-align: justify;
    color:#8f9295;
    margin:0 10px;
    width:90%;
}
#rules-container .rules-heading {
    font-size: 3em;
    font-weight: bold;
}

#rules-container .rules-text{
	margin-top:10px;
	font-size:1.1em;
}

/************************** rules section *************************/
@mixin circle($size) {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - #{$size/2});
  top: calc(50% - #{$size/2});
  width: $size;
  height: $size;
}

$size: 200px;
.container .progress-pie-chart {
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: #E5E5E5;
  position: relative;
  &.gt-50 {
    background-color: #81CE97;
  }
}
.container .ppc-progress {
  @include circle($size);
  clip: rect(0, $size, $size, #{$size/2});
  .ppc-progress-fill {
    @include circle($size);
    clip: rect(0, #{$size/2}, $size, 0);
    background: #81CE97;
    transform: rotate(60deg);
  }
  .gt-50 & {
    clip: rect(0, #{$size/2}, $size, 0);
      clip: rect(0, $size, $size, #{$size/2});
      background: #E5E5E5;
    }
  }
}
.container   @include circle(#{$size/1.15});
  background: #fff;
  text-align: center;
  display: table;
  span {
    display: block;
    font-size: 2.6em;
    font-weight: bold;
    color: #81CE97;
  }
}
.container .pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}



/*body {
  font-family: Arial;
  background: #f7f7f7;
}*/
.container .progress-pie-chart {
  margin: 50px auto 0;
}

